xml/src/main/resources/org/anderes/edu/xml/introduction/contacts.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT contactlist (contact)*>
<!ELEMENT contact (name, address, phone*, mail)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT address (#PCDATA)>
<!ELEMENT mail (#PCDATA)>
<!ELEMENT phone (#PCDATA)>
<!ATTLIST phone type (mobile | private | office | fax) #REQUIRED>