xml/src/main/resources/org/anderes/edu/xml/jaxb/adapter/person.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" elementFormDefault="qualified" attributeFormDefault="unqualified" vc:minVersion="1.1">
	<xs:element name="person">
		<xs:annotation>
			<xs:documentation>Beispiel für die Konvertierung des Datums</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="name" type="xs:string"/>
				<xs:element name="birthday" type="xs:date"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
