jee.employee/server/application/src/main/resources/address.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://info.firma.org/address" targetNamespace="http://info.firma.org/address">
	<xs:import schemaLocation="links.xsd"/>
	<xs:element name="addressDto">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="city" type="xs:string"/>
				<xs:element name="country" type="xs:string"/>
				<xs:element name="province" type="xs:string"/>
				<xs:element name="postalCode" type="xs:string"/>
				<xs:element name="street" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
