jee-soap/src/main/resources/META-INF/wsdl/employee.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:tns="http://www.anderes.org/xmlns/employee"
    targetNamespace="http://www.anderes.org/xmlns/employee">

	<xsd:element name="EmployeeNotFoundException" type="tns:EmployeeNotFoundException"/>
	<xsd:element name="findEmployeeResponse" type="tns:findEmployeeResponse"/>
	<xsd:element name="findEmployeeRequest" type="tns:findEmployeeRequest"/>
	
    <xsd:complexType name="EmployeeNotFoundException">
		<xsd:sequence>
			<xsd:element name="firstname" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lastname" type="xsd:string" minOccurs="0"/>
			<xsd:element name="message" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="findEmployeeResponse">
		<xsd:sequence>
			<xsd:element name="firstname" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lastname" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="findEmployeeRequest">
		<xsd:sequence>
			<xsd:element name="firstname" type="xsd:string" minOccurs="0"/>
			<xsd:element name="lastname" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
